@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<CsvMember>
@{
    ViewData["Title"] = "Vælg medlemmer";

    string[] degrees = new[]
            {
        "1. kup",
        "2. kup",
        "3. kup",
        "4. kup",
        "5. kup",
        "6. kup",
        "7. kup",
        "8. kup",
        "9. kup",
        "10. kup",
        "Overgangsgrad.",
        "5. kup overg."
    };
}

<h1>Vælg medlemmer</h1>

<form asp-action="GeneratePdf">
    <div class="form-group">
        <label for="graduation-date">Gradueringsdato</label>
        <input type="date" name="graduationDate" id="graduation-date" required />
    </div>

    <h2>Filters</h2>

    <div class="row">
        <div class="col">
            <label for="team-filter">Hold</label>
            <select id="team-filter" class="form-control">
                <option></option>
                @foreach(var team in Model.SelectMany(member => member.Teams).Select(team => team.Trim()).Distinct().Where(team => !string.IsNullOrWhiteSpace(team)).OrderBy(team => team))
                {
                    <option value="@team">@team</option>
                }
            </select>
        </div>

        <div class="col">
            <label for="name-filter">Navn</label>
            <input type="text" class="form-control" id="name-filter" placeholder="Filtrer på navn" />
        </div>
    </div>

    <h2>Medlemsliste</h2>

    @foreach(var member in Model)
    {
        <div class="member-row" data-team="@string.Join(',', member.Teams)" data-name="@member.Name">
            <div class="row">
                <div class="col">
                    <input class="form-check-input" type="checkbox" id="@member.Id.ToString()" name="selectedMembers" value="@member.Id.ToString()" />
                    <label class="form-check-label" for="@member.Id.ToString()">
                        @member.Name
                    </label>
                </div>
                <div class="col">
                    <select class="form-control" name="selectedDegrees">
                        @foreach(var degree in degrees)
                        {
                            <option value="@member.Id.ToString();@degree">@degree</option>
                        }
                    </select>
                </div>
            </div>

            <hr />
        </div>
    }

    <input type="submit" class="btn btn-success" value="Lav diplomer" />
</form>

@section scripts {
    <script type="text/javascript">
        let teamFilter = function(memberRow, teamFilterValue) {
            return teamFilterValue === '' || memberRow.data("team").includes(teamFilterValue);
        }

        let nameFilter = function(memberRow, nameFilterValue) {
            return nameFilterValue === '' || memberRow.data('name').toLowerCase().includes(nameFilterValue.toLowerCase());
        }

        let filter = function() {
            var memberRows = $('.member-row');
            var teamFilterValue = $('#team-filter').val();
            var nameFilterValue = $('#name-filter').val();

            $.each(memberRows, function() {
                var memberRow = $(this);

                if (teamFilter(memberRow, teamFilterValue) && nameFilter(memberRow, nameFilterValue))
                    memberRow.show();
                else
                    memberRow.hide();
            });
        }

        $(function() {
            $('#team-filter').on('change', filter);

            $('#name-filter').on('keyup', filter);
        });
    </script>
}